# Dependencies
/node_modules/

# Next.js
/.next/
/out/
/build/

# Testing
/coverage/

# Environment variables
.env*
!.env.example

# Logs
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IntelliJ IDEA
/.idea/
*.iml

# macOS
.DS_Store

# Vercel
/.vercel/

# Temporary files
*.tmp
*.swp
*~